.timeline {
  :global {
    .ant-timeline-item-label {
      width: 100px !important;
    }

    .ant-timeline-item-content {
      inset-inline-start: 104px !important;
      width: calc(100% - 130px) !important;
    }

    .ant-timeline-item-tail,
    .ant-timeline-item-head {
      inset-inline-start:114px !important;
    }
  }

  .item {
    display: flex;
    gap: 8px;
    align-items: flex-start;
  }

  .timelineLabel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
}
